.site-header{
    background-color: #103121;
    color: #ecfdf9;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-header-content{
    margin: 10px;
}

.profile-pic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: #706a6a 2px 5px 5px;
}

.course-link{
    color: #ecfdf9;
}
body {
    margin: 0;
}